@model Rectotarat.Models.Achievement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndicatorValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IndicatorValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indicator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indicator.IndicatorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Univercity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Univercity.UniversityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AchievementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
