@model Rectotarat.Models.Rector

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<div>
    <h4>Ректор</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            <img src="@Model.Photo" alt="Фото отсутсвует" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.University.UniversityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.University.UniversityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@Model.RectorId">Изменить</a>
    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
</div>
